node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
README.md
*.log
.env
.env.local
.env.development
.env.test
.env.production
images/*
!images/logo.png
!images/clean.png
!images/c1.png
.vscode
.idea
*.md
*.txt 